nav.navbar.navbar-expand-lg, a.nav-link {
    background-color: #FFCB05;
    color: white;
}
.navbar {
    box-shadow: 0 4px 2px -4px black;
    height: 60px;
}
a.navbar-brand {
    margin-left: 15px;
}
@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 46%;
        text-align: center;
    }
}
